<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Our Web Server</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: #3498db;
        }
        p {
            color: #555;
        }
    </style>
</head>
<body>
    <img src="local-image.jpg" alt="Logo" style="display: block; width: 200px; height: auto; margin: 0 auto;">
    <h1>Welcome to Local Web Server!</h1>
    <p>Thank you for visiting this website hosted on this local web server.</p>
    <p>Feel free to explore the content.</p>
    <p>Psst, did you know about <a href="test">test</a> webpage?</p>
</body>
</html>
